# --------
# requires
# --------

# https://www.pylint.org/
pylint

# http://lxml.de/
lxml

# http://docs.python-zeep.org
zeep

# https://github.com/jaraco/keyring
keyring

# http://www.python-requests.org
requests

# https://github.com/eliangcs/http-prompt/
# HINT: http-prompt 1.0.0 has requirement prompt-toolkit<2.0.0,>=1.0.0, but you'll have prompt-toolkit 2.0.9 which is incompatible.
# http-prompt

# http://python-prompt-toolkit.readthedocs.io
prompt_toolkit

# https://github.com/jonathanslenders/ptpython
ptpython

# http://jinja.pocoo.org/
jinja2

# http://flask.pocoo.org/  & http://flask-sqlalchemy.pocoo.org
Flask
Flask-SQLAlchemy

# http://werkzeug.pocoo.org/
Werkzeug

# http://pygments.org/
Pygments

# http://www.sqlalchemy.org
SQLAlchemy --only-binary=:none:

# http://psutil.readthedocs.io
psutil

# # https://nicolargo.github.io/glances
glances

# http://jedi.readthedocs.io
jedi

pip
Sphinx
pallets-sphinx-themes
pylint
sphinx_rtd_theme
sphinx-autobuild
sphinx-issues
sphinx-jinja
sphinx-tabs
sphinxcontrib-programoutput

# sphinxjp.themes.revealjs: slide-shows with revaljs
#
#   comment out next lines, if you don't build slide-shows
#
git+https://github.com/return42/sphinxjp.themes.revealjs
# -e file:../sphinxjp.themes.revealjs#egg=sphinxjp.themes.revealjs

# linuxdoc for DOT support
linuxdoc @ git+http://github.com/return42/linuxdoc.git
