*.pyc
*.pyo
*~
*.swp
*/#*#
.#*
.DS_Store
.cvsignore
.svn

# local packages
py27/


# Distribution / packaging
.cache/
.Python
build/
local/
dist/
downloads/
gh-pages/

# software shipped with
win_bin/ConEmu/