# --------
# requires
# --------

# These are the requirements needed by the cdb-tools development process.  This
# is mostly not what you are looking for.  If you are looking for the
# requirements which are needed within CDB-Tools environment, please take a look
# at ./bootstrap/requirements.txt

six
#fspath

# --------------
# tests_requires
# --------------

#pip
#tox
#pytest
#pytest-cov
#pylint

# -------
# develop
# -------

pip
Sphinx
pallets-sphinx-themes
pylint
sphinx_rtd_theme
sphinx-autobuild
sphinx-issues
sphinx-jinja
sphinx-tabs
sphinxcontrib-programoutput

# sphinxjp.themes.revealjs: slide-shows with revaljs
#
#   comment out next lines, if you don't build slide-shows
#
git+https://github.com/return42/sphinxjp.themes.revealjs
# -e file:../sphinxjp.themes.revealjs#egg=sphinxjp.themes.revealjs

# linuxdoc for DOT support
linuxdoc @ git+http://github.com/return42/linuxdoc.git
